openapi: 3.2.0
info:
  title: Vantiv CNP Recurring API
  description: The Vantiv Card Not Present (CNP) API (formerly the Litle eCommerce API) enables online and mobile payment processing. The API supports card authorizations, sales, captures, credits, voids, tokenization via eProtect/Vault, recurring billing, and chargeback management. Communication occurs via HTTPS POST with XML payloads. Vantiv merged with Worldpay in 2018 and the service is now offered as Worldpay from FIS.
  version: '12.0'
  contact:
    name: Worldpay Developer Hub
    url: https://developer.worldpay.com
  termsOfService: https://developer.vantiv.com/community/ecommerce
  license:
    name: Proprietary
    url: https://developer.vantiv.com/community/ecommerce
servers:
- url: https://payments.vantivprelive.com/vap/communicator/online
  description: Vantiv Pre-Live (Staging) Environment
- url: https://www.testvantivcnp.com/sandbox/communicator/online
  description: Vantiv Sandbox Environment
- url: https://payments.vantivcnp.com/vap/communicator/online
  description: Vantiv Production Environment
security:
- basicAuth: []
tags:
- name: Recurring
  description: Recurring and subscription billing
paths:
  /recurringTransaction:
    post:
      operationId: createRecurringTransaction
      summary: Create Recurring Transaction
      description: Process a recurring billing transaction against a stored card token. Used for subscription billing, installment payments, and automatic renewals.
      tags:
      - Recurring
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RecurringTransactionRequest'
      responses:
        '200':
          description: Recurring transaction response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RecurringTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized — invalid merchant credentials
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — malformed XML or invalid transaction data
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          description: Error response code
        message:
          type: string
          description: Error message
    RecurringTransactionRequest:
      type: object
      required:
      - merchantId
      - id
      - orderId
      - amount
      - token
      properties:
        merchantId:
          type: string
        id:
          type: string
        orderId:
          type: string
        amount:
          type: integer
          description: Billing amount in cents
        token:
          type: string
          description: Vault token for stored card
    RecurringTransactionResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        response:
          type: string
        message:
          type: string
        authCode:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using merchant username and password
