openapi: 3.2.0
info:
  title: Vantiv CNP Voids API
  description: The Vantiv Card Not Present (CNP) API (formerly the Litle eCommerce API) enables online and mobile payment processing. The API supports card authorizations, sales, captures, credits, voids, tokenization via eProtect/Vault, recurring billing, and chargeback management. Communication occurs via HTTPS POST with XML payloads. Vantiv merged with Worldpay in 2018 and the service is now offered as Worldpay from FIS.
  version: '12.0'
  contact:
    name: Worldpay Developer Hub
    url: https://developer.worldpay.com
  termsOfService: https://developer.vantiv.com/community/ecommerce
  license:
    name: Proprietary
    url: https://developer.vantiv.com/community/ecommerce
servers:
- url: https://payments.vantivprelive.com/vap/communicator/online
  description: Vantiv Pre-Live (Staging) Environment
- url: https://www.testvantivcnp.com/sandbox/communicator/online
  description: Vantiv Sandbox Environment
- url: https://payments.vantivcnp.com/vap/communicator/online
  description: Vantiv Production Environment
security:
- basicAuth: []
tags:
- name: Voids
  description: Cancel pending unsettled transactions
paths:
  /void:
    post:
      operationId: createVoid
      summary: Create Void
      description: Cancel a pending transaction before it is settled. Can void authorizations, captures, sales, and credits that have not yet been settled.
      tags:
      - Voids
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/VoidRequest'
      responses:
        '200':
          description: Void response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VoidResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          description: Error response code
        message:
          type: string
          description: Error message
    VoidRequest:
      type: object
      required:
      - merchantId
      - id
      - cnpTxnId
      properties:
        merchantId:
          type: string
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
          description: Transaction ID to void
    VoidResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        response:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized — invalid merchant credentials
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — malformed XML or invalid transaction data
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using merchant username and password
