openapi: 3.1.0
info:
  title: Vantiv Chargeback Authorizations Recurring API
  description: The Vantiv Chargeback API provides programmatic access to chargeback and dispute management. Merchants can retrieve chargeback details, upload evidence documents, respond to disputes, and manage the entire chargeback lifecycle. This API is used to defend against fraudulent disputes and retrieve chargeback settlement information.
  version: '2.0'
  contact:
    name: Worldpay Developer Hub
    url: https://developer.worldpay.com
  license:
    name: Proprietary
    url: https://developer.vantiv.com/community/ecommerce
servers:
- url: https://services.vantivprelive.com/services/chargebacks
  description: Vantiv Pre-Live (Staging) Environment
- url: https://services.vantivcnp.com/services/chargebacks
  description: Vantiv Production Environment
security:
- basicAuth: []
tags:
- name: Recurring
  description: Recurring and subscription billing
paths:
  /recurringTransaction:
    post:
      operationId: createRecurringTransaction
      summary: Create Recurring Transaction
      description: Process a recurring billing transaction against a stored card token. Used for subscription billing, installment payments, and automatic renewals.
      tags:
      - Recurring
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RecurringTransactionRequest'
      responses:
        '200':
          description: Recurring transaction response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RecurringTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    RecurringTransactionRequest:
      type: object
      required:
      - merchantId
      - id
      - orderId
      - amount
      - token
      properties:
        merchantId:
          type: string
        id:
          type: string
        orderId:
          type: string
        amount:
          type: integer
          description: Billing amount in cents
        token:
          type: string
          description: Vault token for stored card
    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          description: Error response code
        message:
          type: string
          description: Error message
    RecurringTransactionResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        response:
          type: string
        message:
          type: string
        authCode:
          type: string
  responses:
    Unauthorized:
      description: Unauthorized — invalid merchant credentials
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — malformed XML or invalid transaction data
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
