openapi: 3.1.0
info:
  title: Vantiv Chargeback Authorizations eCheck API
  description: The Vantiv Chargeback API provides programmatic access to chargeback and dispute management. Merchants can retrieve chargeback details, upload evidence documents, respond to disputes, and manage the entire chargeback lifecycle. This API is used to defend against fraudulent disputes and retrieve chargeback settlement information.
  version: '2.0'
  contact:
    name: Worldpay Developer Hub
    url: https://developer.worldpay.com
  license:
    name: Proprietary
    url: https://developer.vantiv.com/community/ecommerce
servers:
- url: https://services.vantivprelive.com/services/chargebacks
  description: Vantiv Pre-Live (Staging) Environment
- url: https://services.vantivcnp.com/services/chargebacks
  description: Vantiv Production Environment
security:
- basicAuth: []
tags:
- name: eCheck
  description: ACH and electronic check payment processing
paths:
  /echeckSale:
    post:
      operationId: createEcheckSale
      summary: Create eCheck Sale
      description: Process an ACH/eCheck payment using bank account and routing number. Initiates an electronic check transaction for one-time or recurring bank payments.
      tags:
      - eCheck
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/EcheckSaleRequest'
      responses:
        '200':
          description: eCheck sale response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/EcheckSaleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /echeckCredit:
    post:
      operationId: createEcheckCredit
      summary: Create eCheck Credit
      description: Issue a refund for a previously processed eCheck/ACH transaction.
      tags:
      - eCheck
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/EcheckCreditRequest'
      responses:
        '200':
          description: eCheck credit response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/EcheckCreditResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Unauthorized — invalid merchant credentials
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — malformed XML or invalid transaction data
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    EcheckSaleResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        orderId:
          type: string
        response:
          type: string
        message:
          type: string
    EcheckCreditRequest:
      type: object
      required:
      - merchantId
      - id
      - cnpTxnId
      - amount
      properties:
        merchantId:
          type: string
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        amount:
          type: integer
    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          description: Error response code
        message:
          type: string
          description: Error message
    EcheckCreditResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        response:
          type: string
        message:
          type: string
    EcheckSaleRequest:
      type: object
      required:
      - merchantId
      - id
      - orderId
      - amount
      - echeck
      properties:
        merchantId:
          type: string
        id:
          type: string
        orderId:
          type: string
        amount:
          type: integer
          description: Amount in cents
        echeck:
          type: object
          properties:
            accType:
              type: string
              enum:
              - Checking
              - Savings
              - Corporate
              description: Bank account type
            accNum:
              type: string
              description: Bank account number
            routingNum:
              type: string
              description: Bank routing number
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
