openapi: 3.1.0
info:
  title: Vantiv Chargeback Authorizations Voids API
  description: The Vantiv Chargeback API provides programmatic access to chargeback and dispute management. Merchants can retrieve chargeback details, upload evidence documents, respond to disputes, and manage the entire chargeback lifecycle. This API is used to defend against fraudulent disputes and retrieve chargeback settlement information.
  version: '2.0'
  contact:
    name: Worldpay Developer Hub
    url: https://developer.worldpay.com
  license:
    name: Proprietary
    url: https://developer.vantiv.com/community/ecommerce
servers:
- url: https://services.vantivprelive.com/services/chargebacks
  description: Vantiv Pre-Live (Staging) Environment
- url: https://services.vantivcnp.com/services/chargebacks
  description: Vantiv Production Environment
security:
- basicAuth: []
tags:
- name: Voids
  description: Cancel pending unsettled transactions
paths:
  /void:
    post:
      operationId: createVoid
      summary: Create Void
      description: Cancel a pending transaction before it is settled. Can void authorizations, captures, sales, and credits that have not yet been settled.
      tags:
      - Voids
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/VoidRequest'
      responses:
        '200':
          description: Void response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VoidResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    VoidResponse:
      type: object
      properties:
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
        response:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        response:
          type: string
          description: Error response code
        message:
          type: string
          description: Error message
    VoidRequest:
      type: object
      required:
      - merchantId
      - id
      - cnpTxnId
      properties:
        merchantId:
          type: string
        id:
          type: string
        cnpTxnId:
          type: integer
          format: int64
          description: Transaction ID to void
  responses:
    Unauthorized:
      description: Unauthorized — invalid merchant credentials
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request — malformed XML or invalid transaction data
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
